body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

section#nav{
    background-color: #f7f8fa;
    height: calc(100vh - 40px * 2);
    border-right: solid 1px #f1f4f6;

    width: 220px;
    padding: 40px 30px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;


    position: fixed;
    top: 0px;
    left: 0px;
}

section#nav div#nav-title-container, section#nav div#nav-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

section#nav div#nav-title-container img{
    border-radius: 50%;
}

section#nav div#nav-title-container h1{
    font-size: 18px;
    font-weight: 600;
    color: #212731;
}

section#nav div#nav-search-container{
    gap: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

section#nav div#nav-search-container svg{
    border: solid 1px #ebeef2;
    background-color: #ffffff;
    border-right-style: none;
    width: 17px;
    height: 17px;
    padding: 8px 0px 8px 8px;
    border-radius: 6px 0px 0px 6px;
    color: #909ba8;
}

section#nav div#nav-search-container input#search-input{
    border: solid 1px #ebeef2;
    background-color: #ffffff;
    border-left-style: none;
    width: calc(100% - 25px);
    height: 17px;
    padding: 8px;
    border-radius: 0px 6px 6px 0px;
    outline: none;
}

section#nav div#nav-search-container input#search-input::placeholder{
    color: #909ba8;
}

section#nav div#nav-chapiters-container, section#nav div#nav-code-container div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

section#nav div#nav-chapiters-container p, section#nav div#nav-code-container div p{
    color: #212731;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s linear;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #f7f8fa;
}

section#nav div#nav-chapiters-container p:hover, section#nav div#nav-code-container div p:hover{
    text-decoration-color: #212731;
}

section#nav div#nav-code-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

section#nav div#nav-code-container div h2{
    font-size: 15px;
    color: #bdc4cd;
    cursor: pointer;
    user-select: none;
}

section#nav div#nav-code-container div p{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}






main{
    background-color: #ffffff;
    padding: 50px 40px 50px 50px;
    height: calc(100vh - 50px * 2);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    position: fixed;
    overflow-y: scroll;
    left: 281px;
    right: calc(100% - 281px - 40% - 40px - 50px - 41px);
    max-width: calc(100% - 281px - 400px - 40px * 2 - 50px - 41px);
}

main h1{
    font-size: 32px;
    font-weight: 400;
}

main p.main-subtitle{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #afb6c1;
}

main div.main-arg-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 20px 50px 20px;
    width: calc(100% - 20px * 2);
    border: solid #f7f8fa 3px;
    border-radius: 8px;
    position: relative;
    flex-wrap: wrap;
}

main div.main-arg-container div:nth-child(1){
    width: 230px;
}

main div.main-arg-container div:nth-child(1) p{
    font-size: 14px;
    font-weight: 500;
    border: solid #f4f6f8 2px;
    border-radius: 6px;
    padding: 10px 15px;
    color: #6f7a8a;
}

main div.main-arg-container div{
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

main div.main-arg-container div p:nth-child(1){
    color: #5d697c;
    font-size: 15px;
}

main div.main-arg-container div p:nth-child(2){
    color: #87919e;
}

div.main-arg-container > div:nth-child(2){
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    left: 0px;
    min-width: 300px;
}

main button{
    border: solid #afb6c1 1px;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
    color: #5d697c;
    transition: all 0.2s linear;
}

main button:hover{
    color: black;
}

main div#main-arg-full-container, main div#main-arg-full-container > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

main div#main-options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px * 2);
    position: absolute;
    top: 30px;
    left: 30px;
}

main div#main-options-container svg{
    cursor: pointer;
    transition: all 0.2s linear;
    display: none;
}

main div#main-options-container svg:nth-child(1){
    width: 18px;
    height: 18px;
}

main div#main-options-container svg:nth-child(2){
    width: 22px;
    height: 22px;
}

main div#main-options-container svg:hover{
    opacity: 0.6;
}




section#exemple{
    background-color: #121923;
    min-height: calc(100vh - 40px * 2);
    border-right: solid 2px #040c16;

    max-width: 400px;
    width: 40%;
    min-width: 200px;
    padding: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    position: fixed;
    right: 0px;
    top: 0px;
    overflow-y: auto;
    height: 100vh;
}

section#exemple h1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

section#exemple code{
    background-color: #18212e;
    width: calc(100% - 20px * 2);
    padding: 20px;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

section#exemple code button{
    background-color: #2b394b;
    padding: 5px 10px;
    border-radius: 6px;
    color: #b4b8c0;
    border-style: none;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

section#exemple code pre{
    color: #dedfe0;
    font-size: 14px;
    line-height: 22px;
}

section#exemple code pre span.pre-specials-chars{
    color: #bc8634;
}

section#exemple code pre span.pre-string{
    color: #3c813d;
}

#close-exemple, #close-nav{
    position: absolute;
    bottom: 100px;
    right: 20px;
    color: #f7f8fa;
    cursor: pointer;
    display: none;
}

#close-nav{
    color: #040c16;
    bottom: 20px;
}




@media only screen and (max-width: 1250px){
    section#exemple{
        left: 0px;
        right: 0px;
        width: calc(100% - 40px * 2);
        max-width: none;
        display: none;
    }

    main{
        padding: 70px 20px;
        width: calc(100% - 281px - 20px * 2);
        max-width: none;
    }
    
    main div#main-options-container{
        justify-content: flex-end;
    }

    main div#main-options-container svg:nth-child(2){
        display: block;
    }

    #close-exemple{
        display: flex;
    }
}

@media only screen and (max-width: 600px){
    section#nav{
        left: 0px;
        right: 0px;
        width: calc(100% - 30px * 2);
        max-width: none;
        display: none;
        z-index: 2;
    }

    main{
        left: 0px;
        width: calc(100% - 20px * 2);
    }

    main div#main-options-container svg:nth-child(1){
        display: block;
    }

    main div#main-options-container{
        justify-content: space-between;
    }

    #close-nav{
        display: flex;
    }
}